@import "~/src/scss/index.scss";


.newsletter-page {
    
    .ui.tab.segment {
        height: calc(100vh - 150px);
        overflow-y: scroll; 
        &:-webkit-scrollbar{
         display: none;
        }
     }
}